html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
} /* just to be sure these are full screen*/

canvas {
    position:absolute;
}

#viewport{
    position:absolute;
}
body {
    background: #908e91;
}